# IDE files
.project
.settings

# Configuration and Data
config/autoload/*
!config/autoload/global.php
data/cache/*
data/tmp/*
data/translation/*
sessions/*

templates/layout/*
!templates/layout/.gitignore
templates/script/*
!templates/script/.gitignore
templates/view/*
!templates/view/.gitignore

# Frontend
public/frontend/*
!public/frontend/tmp
public/frontend/tmp/*
public/media/*
!public/media/files
!public/media/icons
public/media/files/*

# Datatypes
library/Datatypes/*
!library/Datatypes/Boolean
!library/Datatypes/CheckboxList
!library/Datatypes/DatePicker
!library/Datatypes/ImageCropper
!library/Datatypes/jQueryFileUpload
!library/Datatypes/Mixed
!library/Datatypes/RadioButtonList
!library/Datatypes/Textarea
!library/Datatypes/Textrich
!library/Datatypes/Textstring
!library/Datatypes/TinyUrl
!library/Datatypes/Upload

# Modules
library/Modules/*
!library/Modules/ActivityLog
!library/Modules/Backup
!library/Modules/Blog
!library/Modules/Multilingual
!library/Modules/Search
!library/Modules/Social
!library/Modules/Sitemap

# Test
tests/TestConfiguration.php
tests/phpunit.xml
tests/library/Gc/Core/_files/*
!tests/logs
tests/logs/*
tests/media/*
!tests/media/template/
!tests/media/files
tests/media/files/test/*
!tests/media/github.tags


# Vendor
vendor/*
!vendor/elFinder
!vendor/SVGGraph
!vendor/Zend
public/backend/css/gotcms.css
public/backend/css/gotcms-install.css
scripts/classmap_generator.php
scripts/coveralls
scripts/phpcs
scripts/phpunit
scripts/pluginmap_generator.php
scripts/templatemap_generator.php
scripts/yuicompressor.jar
composer.lock
