body.install{padding-top:49px}
.sidebar:before, .sidebar{top:49px}
.install-body tr td.error,
.install-body tr td.warning,
.install-body tr td.success{background-repeat:no-repeat;background-position:5px 50%;padding-left:25px;}
.install-body tr td.error{background-image:url(../images/notification/error.png);background-color:#DF8F8F;}
.install-body tr td.success{background-image:url(../images/notification/success.png);background-color:#9ADF8F;}
.install-body tr td.warning{background-image:url(../images/notification/warning.png);background-color:#E6DB55;}
.done > a{font-weight: bold;}

.list-group .install-in-progress,
.list-group .install-complete,
.list-group .install-error{padding-left:35px; }
.list-group .install-in-progress{background:url(../images/ajax-loader.gif) no-repeat scroll 10px 15px;}
.list-group .install-complete{background:url(../images/notification/success.png) no-repeat scroll 10px 13px;}
.list-group .install-error{background:url(../images/notification/error.png) no-repeat scroll 10px 13px;}
