<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="GotCms Test Suite">
        <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./library/</directory>
        <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">./module/</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="./logs/coverage" charset="UTF-8"
             yui="true" highlight="false" lowUpperBound="35" highLowerBound="80" />
        <log type="testdox-html" target="./logs/testdox.html" />
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
            <directory suffix=".php">../module/</directory>
        </whitelist>
    </filter>
</phpunit>
