<phpunit bootstrap="./Bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    cacheTokens="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    strict="false"
    verbose="true"
    colors="true">
    <testsuite name="GotCms Test Suite">
        <directory suffix="Test.php" phpVersion="5.3.3" phpVersionOperator=">=">./library/</directory>
        <directory suffix="Test.php" phpVersion="5.3.3" phpVersionOperator=">=">./module/</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="./logs/coverage" charset="UTF-8"
             yui="true" highlight="false" lowUpperBound="35" highLowerBound="80" />
        <log type="testdox-html" target="./logs/testdox.html" />
        <log type="coverage-clover" target="./logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
            <directory suffix=".php">../module/</directory>
            <exclude>
                <directory suffix=".config.php">../module/</directory>
                <directory suffix="classmap.php">../module/</directory>
                <directory suffix="function.php">../module/</directory>
                <directory suffix="register.php">../module/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
