<?php

define('TESTS_GENERATE_REPORT', FALSE);
define('GC_DATABASE_DRIVER', '');
define('GC_DATABASE_USERNAME', '');
define('GC_DATABASE_PASSWORD', '');
define('GC_DATABASE_DATABASE', '');
define('GC_DATABASE_HOSTNAME', '');

