/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }









@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/**
 * GotCMS scripting
 *
 */
body {background-image:url(../images/bg.png);background-repeat:repeat-x;background-color:#0d0d0d;font-size:11px;font-family:Arial, Helvetica, sans-serif;width:1031px;margin:auto;}
img {border:0}

header {height:145px;}
#logo {background-image:url(../images/logo.png);background-repeat:no-repeat;width:335px;height:145px;margin-left:212px;margin-right:35px;float:left;}
#connexion a { color:#FFF; text-decoration:none; }
#connexion a:hover { color:#FFF; text-decoration:underline; }
#connexion {padding-top:45px;color:#FFF;}
#connexion ul{list-style: none}


#navigation {background-image:url(../images/navbar.png);background-repeat:no-repeat;width:1031px;height:60px;}
#navigation .part {width:206px;height:60px;color:#FFF;float:left;background-image:url(../images/separateur.png);background-repeat:no-repeat;background-position:right;margin-top:-1px;}
#navigation .part p {margin-left:55px; padding-top:8px;}
#navigation .part a {color:#FFF; text-decoration:none;}
#navigation .part a:hover {color:#FFF; text-decoration:underline;}
#navigation .part .icone {margin-left:10px; margin-top:10px; float:left; }

#main-top {background-image:url(../images/corpshaut.png);background-repeat:no-repeat;height:69px;width:1031px;margin-bottom:-11px;}

#main {background-color:#FFF;background-repeat:repeat-y;width:1011px;padding-left:10px;padding-right:10px;}

#content {float:right;width:755px;}
#content h2 {background-image:url(../images/h2txt.png);background-repeat:no-repeat;width:652px;height:25px;color:#FFF;font-size:11px;padding-top:5px;padding-left:10px;margin-left:45px;}

#menu {width:189px;float:left;margin-left:5px;}
#menu a {color:#000; text-decoration:none; }
#menu a:hover {color:#000; text-decoration:underline; }
#menu h2 {background-image:url(../images/h2.png);background-repeat:no-repeat;width:189px;height:25px;color:#FFF;font-size:11px;text-align:center;padding-top:5px;}
#menu ul li {list-style-image:url(../images/liststyle.png);background-image:url(../images/separateur2.png);background-position:bottom;background-repeat:no-repeat;margin-left:-20px;padding-bottom:7px;padding-top:7px;}

#menu .treeview li {margin:0;padding:3px 0 2px 16px;background-position:0 -1766px;background:url(../images/treeview/treeview-default-line.gif) no-repeat scroll 0 0 transparent;list-style: none}

footer {background-image:url(../images/footer.png);background-repeat:no-repeat;width:100%;height:32px;margin-bottom:10px;color:#939393;font-size:10px;padding-top:10px;padding-left:10px;}
footer a {color:#939393; font-style:italic; text-decoration:none; }
footer a:hover {text-decoration:underline;}
footer .creativegfx {width:150px;height:24px;display:block;float:right;}

.error {background-image:url(../images/error.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}
.success {background-image:url(../images/success.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}
.warning {background-image:url(../images/warning.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}

.input-text {background-image:url(../images/input.png);background-repeat:no-repeat;width:280px;height:32px;border:hidden;color:#FFF;}
.textarea {background-image:url(../images/textearea.png);background-repeat:no-repeat;width:500px;height:194px;border:hidden;color:#FFF;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.input-submit {background-image:url(../images/valider.png);background-repeat:no-repeat;width:123px;height:24px;border:hidden;color:#FFF;cursor:pointer;}
