/* HTML5 Boilerplate*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #FFFFFF; text-shadow: none; }
::selection { background: #fe57a1; color: #FFFFFF; text-shadow: none; }

a { color: #323232; }
a:visited { color: #323232; }
a:hover { color: #0066EE; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #CCCCCC; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000000; text-decoration: none; }
mark { background: #ff0; color: #000000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; margin:2px; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {}
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #CCCCCC; color: black; padding: 0.2em 0; }

@media only screen and (min-width: 35em) {}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}


/**
 * GotCms CSS
 *
 */
body {background-image:url(../images/bg.png);background-repeat:repeat-x;background-color:#0d0d0d;font-size:11px;font-family:Arial, Helvetica, sans-serif;margin:auto;}
img {border:0}

.a-center {text-align:center !important;}
.a-left {text-align:left !important;}
.a-right {text-align:right !important;}
.hide {display:none;}
.show {display:block;}
.floatL {float:left;}
.floatR {float:right;}
.gradient-black {background: #656565;-o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;background: -webkit-gradient(linear,left top, left bottom,from(#656565),to(#000000));background: -webkit-linear-gradient(top,#656565,#000000);background: -moz-linear-gradient(top,#656565,#000000);background: -o-linear-gradient(top,#656565,#000000);background: linear-gradient(top,#656565,#000000);}

header {height:80px;}
header .part {width:206px;height:60px;color:#FFFFFF;display: inline-block;margin: 10px 5px 10px 0;border:1px solid transparent;}
header .part.active, header .part:hover {border-radius: 5px 5px 5px 5px;background:-moz-linear-gradient(center top , #666666 0%, #000000 100%) repeat scroll 0 0 transparent;border: 1px solid #999;padding: 0;}
header .part p {margin-left:55px; padding-top:8px;}
header .part a {color:#FFFFFF; text-decoration:none;}
header .part a:hover {color:#FFFFFF; text-decoration:none;}
header .part .icone {margin-left:10px; margin-top:10px; float:left; }

footer {background-image:url(../images/footer.png);background-repeat:repeat-x;width:100%;height:32px;margin-bottom:10px;color:#939393;font-size:10px;padding-top:10px;}
footer a {color:#939393; font-style:italic; text-decoration:none; }
footer a:hover {text-decoration:underline;}

#connexion a { color:#FFFFFF; text-decoration:none; }
#connexion a:hover { color:#FFFFFF; text-decoration:underline; }
#connexion {color:#FFFFFF;float: right;width: 250px;}
#connexion ul{list-style: none;margin:5px;}

#main {background-image:url(../images/corpshaut.png);background-repeat:repeat-x;background-color:#FFFFFF;padding: 5px 10px;}

#content {float:left;width: 83%;}
#content h2 {background-image:url(../images/h2txt.png);background-repeat:no-repeat;width:652px;height:25px;color:#FFFFFF;font-size:11px;padding-top:5px;padding-left:10px;margin-left:45px;}

#menu {width:300px;float:left;margin: 0 10px 0 5px;}
#menu a {color:#000000; text-decoration:none; }
#menu a:hover {color:#000000; text-decoration:underline; }
#menu h2 {background-image:url(../images/h2.png);background-repeat:repeat-x;width:270px;height:25px;color:#FFFFFF;font-size:11px;text-align:center;padding-top:5px;}
#menu ul li {list-style-image:url(../images/liststyle.png);background-image:url(../images/separateur2.png);background-position:bottom;background-repeat:no-repeat;margin-left:-20px;padding-bottom:7px;padding-top:7px;}
#menu #browser li {margin-left: 18px;padding:0;background-position:0 -1766px;list-style: none}
.textarea {margin:0 0 10px 0;border:1px solid #CCCCCC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;-webkit-box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;}
.input-text{margin:5px 0;width:280px;border:1px solid #CCCCCC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;-webkit-box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;box-shadow:0 1px 1px #CCCCCC inset,0 1px 0 #FFFFFF;height:25px;}
.input-checkbox[type=checkbox] {visibility: hidden;}
.input-checkbox {width: 20px;height:20px;display:inline-block;position: relative;}
.input-checkbox label {width:9px;cursor: pointer;position: absolute;width: 20px;height: 20px;top: 0;left:0;border-radius: 4px;-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);background: -webkit-linear-gradient(top, #222222 0%, #45484D 100%);background: -moz-linear-gradient(top, #222222 0%, #45484D 100%);background: -o-linear-gradient(top, #222222 0%, #45484D 100%);background: -ms-linear-gradient(top, #222222 0%, #45484D 100%);background: linear-gradient(top, #222222 0%, #45484D 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#45484D',GradientType=0 );}
.input-checkbox label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;content: '';position: absolute;width: 9px;height: 5px;background: transparent;top: 4px;left: 4px;border: 3px solid #FCFFF4;border-top: none;border-right: none;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.input-checkbox label:hover::after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);opacity: 0.3;}
.input-checkbox input[type=checkbox]:checked + label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}
.input-submit {margin:5px; display: inline-block;outline: none;cursor: pointer;text-align: center;text-decoration: none;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: 5em;-moz-border-radius: 5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);font-size: 12px;padding: 0.4em 1.5em 0.42em;background: -moz-linear-gradient(center top , #666666, #000000) repeat scroll 0 0 transparent;border: 1px solid #333333;color: #D7D7D7;}
.input-submit:hover {text-decoration: none;background: -moz-linear-gradient(center top , #444444, #000000) repeat scroll 0 0 transparent;}
.input-submit:active {position: relative;top: 1px;background: -moz-linear-gradient(center top , #000000, #444444) repeat scroll 0 0 transparent;color: #666666;}

.simple-form label {width:150px;display:inline-block;height:35px;}
.simple-form a,
.simple-form a:visited {color:#FFFFFF;}

#dialog {display:none;}
#development-form label {display: inline-block;width: 150px;height:25px;}
#development-form input[type="text"], #development-form select {width:250px;}

#table-trad tbody td{text-align:center;}
#table-trad .input-text {width:100%;}
#table-translation-edit td{cursor:pointer;}
#table-translation-edit tbody tr:hover{background:grey;}
#table-translation-edit .input-text {width:90%;margin:0;}

.table-list {width:100%}
.table-list th{text-align:left;}
.table-list tbody tr:hover{background:#D6D6D6}
.table-list tbody tr {cursor:pointer;}

.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li, .sortable div{ font-size: 1.2em; min-height: 1.5em; min-height:35px;}
.connected-sortable li{zoom:1;}

.notification {border-radius:6px 6px 6px 6px;border: 1px solid;font-size: 13px;margin: 0 0 15px;padding: 0;position: relative;width: 99.8%;}
.warning {background: url(../images/notification/warning.png) no-repeat scroll 10px 11px #FFFBCC;border-color: #E6DB55;color: #666452;}
.information {background: url(../images/notification/information.png) no-repeat scroll 10px 11px #DBE3FF;border-color: #A2B4EE;color: #585B66;}
.success {background: url(../images/notification/success.png) no-repeat scroll 10px 11px #D5FFCE;border-color: #9ADF8F;color: #556652;}
.error {background: url(../images/notification/error.png) no-repeat scroll 10px 11px #FFCECE;border-color: #DF8F8F;color: #665252;}
.notification div {display: block;font-style: normal;line-height: 1.5em;padding: 10px 10px 10px 36px;}
.notification .close {color: #990000;font-size: 9px;position: absolute;right: 13px;top: 13px;}

#elfinder {font-size: 170%;}
.dashboard { margin: 20px 8px; padding: 0 10px 20px; border-width: 1px 0pt; border-style: solid; position: relative; line-height: 1.6em; overflow: auto; }
.dashboard h3 { font-size: 32px; font-weight: normal; line-height: 1.2; margin: 0.1em 0pt 0.8em; }
.dashboard h4 { font-size: 14px; }
.dashboard .dashboard-close { padding: 8px 3px; font-size: 13px; text-decoration: none; }
.dashboard .badge { float: left; margin-bottom: 20px; }
.dashboard-content { max-width: 1500px; }
.dashboard p.dashboard-dismiss { clear: both; padding: 1em 0pt 0pt; }
.dashboard .dashboard-column-container { clear: both; overflow: hidden; position: relative; padding-left: 25px; }
.dashboard .dashboard-column { margin: 0pt 5% 0pt -25px; padding-left: 25px; width: 30%; min-width: 200px; float: left; }
.dashboard { border-color: #DFDFDF; }
.dashboard p { color: #777777; }
.dashboard h3 { text-shadow: 1px 1px 1px #FFFFFF; }
.widget-column {width:49%;padding: 5px;min-height:50px;}
.widget-box {background-color: #F5F5F5;background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);border-color: #C2C2C2;border-radius: 3px 3px 3px 3px;min-width: 255px;position: relative;border-style: solid;border-width: 1px;line-height: 1;margin-bottom: 20px;padding: 0;}
.widget-box h3 {color: #FFFFFF;border-bottom-color: #DFDFDF;text-shadow: 0 1px 0 #FFFFFF;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #656565, #000000);}
.widget-box .inside { font-size: 12px; }
.widget-box p.sub { padding: 5px;margin:0; color: #8F8F8F; font-size: 14px;}
.widget-box .table { margin: 0pt; padding: 0pt; position: relative;border-top: 1px solid #ECECEC; width: 45%; }
.widget-box table td { padding: 3px 0pt; white-space: nowrap; }
.widget-box td.first { padding:3px 15px; }
.widget-box .version { padding: 6px 10px 12px; clear: both; }
.widget-box a.button { float: right; clear: right; position: relative; top: -5px; }
.widget-box .header {border-top-left-radius: 3px;border-top-right-radius: 3px;cursor: move;margin:0;padding:12px;}
.sortable-placeholder{border-width:1px;border-style:dashed;margin-bottom:20px;}


.ui-state-default a:visited {color:#333333;}
.ui-state-active a:visited {color:#FFFFFF;}
