/* HTML5 Boilerplate*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; margin:2px; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {}
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}


/**
 * Got CMS CSS
 *
 */
body {background-image:url(../images/bg.png);background-repeat:repeat-x;background-color:#0d0d0d;font-size:11px;font-family:Arial, Helvetica, sans-serif;width:1031px;margin:auto;}
img {border:0}

.a-center {text-align:center !important;}
.a-left {text-align:left !important;}
.a-right {text-align:right !important;}
.hide {display:none;}
.show {display:block;}
.floatL {float:left;}
.floatR {float:right;}

header {height:145px;}
#logo {background-image:url(../images/logo.png);background-repeat:no-repeat;width:335px;height:145px;margin-left:212px;margin-right:35px;float:left;}
#connexion a { color:#FFF; text-decoration:none; }
#connexion a:hover { color:#FFF; text-decoration:underline; }
#connexion {padding-top:45px;color:#FFF;}
#connexion ul{list-style: none}


#navigation {background-image:url(../images/navbar.png);background-repeat:no-repeat;width:1031px;height:60px;}
#navigation .part {width:206px;height:60px;color:#FFF;float:left;background-image:url(../images/separateur.png);background-repeat:no-repeat;background-position:right;margin-top:-1px;}
#navigation .part p {margin-left:55px; padding-top:8px;}
#navigation .part a {color:#FFF; text-decoration:none;}
#navigation .part a:hover {color:#FFF; text-decoration:underline;}
#navigation .part .icone {margin-left:10px; margin-top:10px; float:left; }


#main {background-image:url(../images/corpshaut.png);background-repeat:no-repeat;background-color:#FFF;width:1011px;padding: 5px 10px;}

#content {float:right;width:755px;}
#content h2 {background-image:url(../images/h2txt.png);background-repeat:no-repeat;width:652px;height:25px;color:#FFF;font-size:11px;padding-top:5px;padding-left:10px;margin-left:45px;}

#menu {width:189px;float:left;margin-left:5px;}
#menu a {color:#000; text-decoration:none; }
#menu a:hover {color:#000; text-decoration:underline; }
#menu h2 {background-image:url(../images/h2.png);background-repeat:no-repeat;width:189px;height:25px;color:#FFF;font-size:11px;text-align:center;padding-top:5px;}
#menu ul li {list-style-image:url(../images/liststyle.png);background-image:url(../images/separateur2.png);background-position:bottom;background-repeat:no-repeat;margin-left:-20px;padding-bottom:7px;padding-top:7px;}

#menu #browser li {margin-left: 18px;padding:0;background-position:0 -1766px;list-style: none}

footer {background-image:url(../images/footer.png);background-repeat:no-repeat;width:100%;height:32px;margin-bottom:10px;color:#939393;font-size:10px;padding-top:10px;padding-left:10px;}
footer a {color:#939393; font-style:italic; text-decoration:none; }
footer a:hover {text-decoration:underline;}
footer .creativegfx {width:150px;height:24px;display:block;float:right;}

.error {background-image:url(../images/error.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}
.success {background-image:url(../images/success.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}
.warning {background-image:url(../images/warning.png);background-repeat:no-repeat;margin-left:150px;width:417px;height:47px;margin-top:15px;padding-top:12px;padding-left:10px;}

.input-text {background-image:url(../images/input.png);background-repeat:no-repeat;width:280px;height:32px;border:hidden;color:#FFF;}
.textarea {background-image:url(../images/textearea.png);background-repeat:no-repeat;width:500px;height:194px;border:hidden;color:#FFF;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.input-submit {background-image:url(../images/valider.png);background-repeat:no-repeat;width:123px;height:24px;border:hidden;color:#FFF;cursor:pointer;}

.simple-form label {width:150px;display:inline-block;}

#one-page-form {background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));background-image:-webkit-linear-gradient(top,#fff,#ccc);background-image:-moz-linear-gradient(top,#fff,#ccc);background-image:-ms-linear-gradient(top,#fff,#ccc);background-image:-o-linear-gradient(top,#fff,#ccc);background-image:linear-gradient(top,#fff,#eee);max-height:240px;width:400px;margin:-150px 0 0 -230px;padding:30px;position:absolute;top:50%;left:50%;z-index:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 2px rgba(0,0,0,0.2),0 1px 1px rgba(0,0,0,.2),0 3px 0 #fff,0 4px 0 rgba(0,0,0,.2),0 6px 0 #fff,0 7px 0 rgba(0,0,0,.2);-moz-box-shadow:0 0 2px rgba(0,0,0,0.2),1px 1px 0 rgba(0,0,0,.1),3px 3px 0 rgba(255,255,255,1),4px 4px 0 rgba(0,0,0,.1),6px 6px 0 rgba(255,255,255,1),7px 7px 0 rgba(0,0,0,.1);box-shadow:0 0 2px rgba(0,0,0,0.2),0 1px 1px rgba(0,0,0,.2),0 3px 0 #fff,0 4px 0 rgba(0,0,0,.2),0 6px 0 #fff,0 7px 0 rgba(0,0,0,.2)}
#one-page-form:before{content:'';position:absolute;z-index:-1;border:1px solid #ccc;top:5px;bottom:5px;left:5px;right:5px;-moz-box-shadow:0 0 0 1px #fff;-webkit-box-shadow:0 0 0 1px #fff;box-shadow:0 0 0 1px #fff}
#one-page-form h1{text-shadow:0 1px 0 rgba(255,255,255,.7),0px 2px 0 rgba(0,0,0,.5);text-transform:uppercase;text-align:center;color:#666;margin:0 0 30px 0;letter-spacing:4px;font:normal 26px/1 Verdana,Helvetica;position:relative}
#one-page-form h1:after,h1:before{background-color:#777;content:"";height:1px;position:absolute;top:15px;width:120px}
#one-page-form h1.forgot-password:after,h1.forgot-password:before{background-color:#777;content:"";height:1px;position:absolute;top:30px;width:50%}
#one-page-form h1:after{background-image:-webkit-gradient(linear,left top,right top,from(#777),to(#fff));background-image:-webkit-linear-gradient(left,#777,#fff);background-image:-moz-linear-gradient(left,#777,#fff);background-image:-ms-linear-gradient(left,#777,#fff);background-image:-o-linear-gradient(left,#777,#fff);background-image:linear-gradient(left,#777,#fff);right:0}
#one-page-form h1:before{background-image:-webkit-gradient(linear,right top,left top,from(#777),to(#fff));background-image:-webkit-linear-gradient(right,#777,#fff);background-image:-moz-linear-gradient(right,#777,#fff);background-image:-ms-linear-gradient(right,#777,#fff);background-image:-o-linear-gradient(right,#777,#fff);background-image:linear-gradient(right,#777,#fff);left:0}
#one-page-form fieldset{border:0;padding:0;margin:0}
#one-page-form #inputs input{background:#f1f1f1 url(../images/login-sprite.png) no-repeat;padding:15px 15px 15px 30px;margin:0 0 10px 0;width:353px;border:1px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 1px #ccc inset,0 1px 0 #fff;-webkit-box-shadow:0 1px 1px #ccc inset,0 1px 0 #fff;box-shadow:0 1px 1px #ccc inset,0 1px 0 #fff}
#one-page-form #login{background-position:5px -2px!important}
#one-page-form #password{background-position:5px -52px!important}
#one-page-form #inputs input:focus{background-color:#fff;border-color:#666;outline:0;-moz-box-shadow:0 0 0 1px #666 inset;-webkit-box-shadow:0 0 0 1px #666 inset;box-shadow:0 0 0 1px #666 inset}
#one-page-form #actions{margin:25px 0 0 0}
#one-page-form #submit{background-color:#000;background-image:-webkit-gradient(linear,left top,left bottom,from(#666),to(#000));background-image:-webkit-linear-gradient(top,#666,#000);background-image:-moz-linear-gradient(top,#666,#000);background-image:-ms-linear-gradient(top,#666,#000);background-image:-o-linear-gradient(top,#666,#000);background-image:linear-gradient(top,#666,#000);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;-webkit-box-shadow:0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;box-shadow:0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;border-width:1px;border-style:solid;border-color:#888 #999 #AAA #999;float:left;height:35px;padding:0;width:120px;cursor:pointer;font:bold 15px Arial,Helvetica;color:#FFF}
#one-page-form #submit:hover,#submit:focus{background-color:#666;background-image:-webkit-gradient(linear,left top,left bottom,from(#000),to(#666));background-image:-webkit-linear-gradient(top,#000,#666);background-image:-moz-linear-gradient(top,#000,#666);background-image:-ms-linear-gradient(top,#000,#666);background-image:-o-linear-gradient(top,#000,#666);background-image:linear-gradient(top,#000,#666)}
#one-page-form #submit:active{outline:0;-moz-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset;box-shadow:0 1px 4px rgba(0,0,0,0.5) inset}
#one-page-form #submit::-moz-focus-inner{border:0}
#one-page-form #actions a{color:#3151a2;float:right;line-height:35px;margin-left:10px}
#one-page-form #back{display:block;text-align:center;position:relative;top:60px;color:#999}

#main-installer {overflow:hidden;background-color:#FFF;width:1011px;padding-left:10px;padding-right:10px;}
#main-installer h1 {text-align:center}
#main-installer h2 {margin-top:0}
#main-installer nav {float:left;width:200px}
#main-installer nav .active{font-weight:bold}
#main-installer section {float:left;width:800px}
#main-installer .license {width:100%;height:500px}
#table-trad tbody td{text-align:center;}
#table-translation-edit td{cursor:pointer;}
#table-translation-edit tbody tr:hover{background:grey;}

.table-list {width:100%}
.table-list th{text-align:left;}


#dialog {display:none;}
.connected-sortable li h3{font-size: 1.2em;}
