#dashboard_addthis .addthis-tab {
    display: block;
    background: #fff;
    padding: 5px 12px;
}

#dashboard_addthis .addthis_tab {
    text-align:center;
}
#dashboard_addthis .atb-active {
    display: block;
    background: #666;
    padding: 5px 12px;
    text-decoration: none;
    color: #fff;
    margin-right:5px;
}

#dashboard_addthis p.sub, #dashboard_addthis .table, #dashboard_addthis .versions {
    gin:-12px;
}
#dashboard_addthis .inside {
    t-size:11px;
}
#dashboard_addthis p.sub {
    color:#777777;
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size:13px;
    font-style:italic;
    padding:5px 10px 15px;
}
#dashboard_addthis .table {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F9F9F9 none repeat scroll 0 0;
    border-bottom:1px solid #ECECEC;
    border-top:1px solid #ECECEC;
    margin:0 -9px 10px;
    padding:0 10px;
}
#dashboard_addthis table {
    h:100%;
}
#dashboard_addthis .table td {
    text-align: left;
}

#dashboard_addthis table td {
    border-top:1px solid #ECECEC;
    padding:3px 0 0 0;
    white-space:nowrap;
}
#dashboard_addthis td.pp {
    padding-right: 10px;
}
#dashboard_addthis table tr.first td {
    der-top:medium none;
}
#dashboard_addthis table tr {
    padding:0;
    line-height: 1.25;
}
#dashboard_addthis .atb {
    font-weight:bold;
}

#dashboard_addthis td.b {
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    padding-right:6px;
}
#dashboard_addthis td.ll {
    border-left:1px solid #cCcCcC!important;
    padding-left:5px;
}
#dashboard_addthis .t {
    color:#777777;
    padding-right:12px;
    padding-top:6px;
}
#dashboard_addthis td.first, #dashboard_addthis td.last {
    width:1px;
}

#dashboard_addthis .analytics {
    padding:6px 0px;
}
#dashboard_addthis .inside ul li span.b{
    font-weight: bold;
}
.addthis_analytics thead tr th{
    xt-align:left;
}
.addthis_linkout{
    at:right;
}

.atw-switch {
    margin-bottom: 8px;
}
.atw-table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}
.atw-table td {
    background: #f5f5f5;
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    color: #555;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.atw-table h3 {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
#at_tabs .ui-state-active, #at_services_tabs .ui-state-active {
    font-weight: bold;
}
#at_tabs .at_time_period{
    float:left;
    padding: 0 7px;
    width: 65px;
}
#tstab1{
    width: 50%;
    float: left;
}
#tstab2{
    width: 50%;
    float:left;
}
#at_tabs .clear{
    height: 0;
    margin: 0;
    padding: 0;
}
.addthis-widget-smart-sharing-container, .below-smart-sharing-container {
    display: inline-block;
    width: 550px;
}
.addthis-widget-smart-sharing-container label:hover, .below-smart-sharing-container label:hover {
    cursor: pointer;
}
.customize-buttons {
    max-width: 540px;
}
#selected-services {
    float: right;
}
#sharing-buttons {
    float: left;
    margin-left: 5px;
}
.customize-buttons {
    display: none;
}
.sortable-heading {
    color: #484848;
    padding: 5px 0 0 0;
}
.sortable {
    width: 230px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #CCC;
    border-radius: 6px;
    overflow: auto;
    padding-left:0;
}

.sharing-buttons {
    float: left;
    width: 300px;
    padding-right: 45px;
}

.selected-services {
    float: left;
}

.sortable.grid {
    overflow: hidden;
}

.sortable li {
    list-style: none;
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 0 5px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 15px 18px;
    background-size: 16px;
    position: relative;
}

.sortable li .close {
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    display: none;
    position: absolute;
    float: none;
    right: 0;
    padding-right: 10px;
}

.sortable li.enabled:hover {
    background: #F6F6F6;
    cursor: move;
    background-repeat: no-repeat;
    background-position: 15px 18px;
    background-size: 16px;
}

.sortable li.disabled:hover {
    cursor: default;
}

.sortable li .at300bs {
    cursor: move !important;
margin-top:17px;
}

.sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

.handle {
    cursor: move;
}

.sortable.connected {
    width: 200px;
    min-height: 100px;
    float: left;
}

li.disabled {
    opacity: 0.5;
}

li.highlight {
    background: #FEE25F;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

#atcode {
    clear: both;
}

.sharing-buttons .sortable {
    height: 205px;
    overflow: auto;
    margin-top: 20px;
    float: left;
}

.selected-services .sortable {
    height: 255px;
    max-height: 260px;
}

.sharing-buttons-search {
    width: 220px;
    padding: 5px !important;
    height: 30px;
    font-size: 15px;
    background: url(http://s7.addthis.com/static/t00/bkg-search-lg.gif);
    background-repeat: no-repeat;
    background-position:190px 10px;
}

 .restore-default-options {
    float: right;
    display: none;
    text-decoration: none;
    color: #0098F8;
    line-height: 20px;
}


.add-buttons-msg {
    font-size: 16px;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 255px;
}

.ui-tooltip {
    font-size: 12px !important;
    line-height: 1.4 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    max-width: 250px;
    background: #FFFFFF;
    border: 4px solid #ddd;
    border-radius: 6px 6px 6px 6px;
    padding: 7px;
    color: #000000;
}

.selected-services .ui-tooltip {
    max-width: 40px !important;
}
.vertical-drag, .horizontal-drag {
    position: absolute;
    max-width: 60px;
    display: none;
    left: 255px;
    z-index: 0;
    line-height: 23px;
    bottom: 75px;
}

.smart-sharing-link {
    display: none;
}

.customize-checkbox-paragraph {
    margin: 10px 0;
}

.disabled {
    -moz-opacity: 0.60;
    opacity:.60;
    filter: alpha(opacity=60);
}

.smart-radio-buttons {
    float: left;
    clear: both;
    padding: 5px 0;
}

.smart-radio-container {
    padding: 10px 0;
    margin: 0;
    display: inline-block;
}

.ui-tooltip {
    max-width:200px!important;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
    border-width: 2px;
}

.at300bs {
    display:inline-block !important;
    padding-right:10px;
    vertical-align:middle;
    margin:10px;
}
