<div id="breadcrumbs" class="breadcrumbs">
  <div id="menu-toggler-container" class="hidden-lg">
    <span id="menu-toggler">
      <i class="glyphicon glyphicon-new-window"></i>
      <span class="menu-toggler-text">{{ 'MENU' | translate }}</span>
    </span>
  </div>
  <ul class="breadcrumb">
    <li ng-repeat="bcPage in breadcrumbs.get()">
      <i ng-show="$first" class="glyphicon glyphicon-home home-icon"></i>
      <a href="{{bcPage.path}}" ng-show="!$last">{{ bcPage.label | translate }}</a>
      <span ng-show="$last">{{ bcPage.label | translate }}</span>
    </li>
  </ul>
</div>
