<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gotcms-main-menu">
        <span class="sr-only">{{ 'TOGGLE_NAV' | translate }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">
        <span class="glyphicon glyphicon-flash"></span>
        GotCms Admin
      </a>
    </div>

    <div class="collapse navbar-collapse" id="gotcms-main-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/" title="{{ 'DASHBOARD' | translate }}">
            <span class="glyphicon glyphicon-dashboard"></span> {{ 'DASHBOARD' | translate }}
          </a>
        </li>
        <li>
          <a href="#/content" title="{{ 'CONTENT' | translate }}">
            <span class="glyphicon glyphicon-edit"></span> {{ 'CONTENT' | translate }}
          </a>
        </li>
        <li>
          <a href="#/development" title="{{ 'DEVELOPMENT' | translate }}">
            <span class="glyphicon glyphicon-list-alt"></span> {{ 'DEVELOPMENT' | translate }}
          </a>
        </li>
        <li>
          <a href="#/module" title="{{ 'MODULES' | translate }}">
            <span class="glyphicon glyphicon-link"></span> {{ 'MODULES' | translate }}
          </a>
        </li>
        <li>
          <a href="#/statistics" title="{{ 'STATS' | translate }}">
            <span class="glyphicon glyphicon-stats"></span> {{ 'STATS' | translate }}
          </a>
        </li>
        <li>
          <a href="#/config" title="{{ 'CONFIG' | translate }}">
            <span class="glyphicon glyphicon-cog"></span> {{ 'CONFIG' | translate }}
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/logout" class="" title="{{ 'LOGOUT' | translate }}">
            <span class="glyphicon glyphicon-off"></span> {{ 'LOGOUT' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
