<div id="breadcrumbs" class="breadcrumbs">
  <div id="menu-toggler-container" class="hidden-lg">
    <span id="menu-toggler">
      <i class="glyphicon glyphicon-new-window"></i>
      <span class="menu-toggler-text">Menu</span>
    </span>
  </div>
  <ul class="breadcrumb">
    <li ng-repeat="step in steps | limitTo:(steps.length-1)">
      <i ng-switch-when="limitTo:0" class="glyphicon glyphicon-home home-icon"></i>

      <a href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
    </li>

    <li ng-repeat="step in steps | limitTo:-1" class="active">
      <span>{{step.ncyBreadcrumbLabel}}</span>
    </li>
  </ul>
</div>
