<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gotcms-main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/admin" class="navbar-brand">
        <span class="glyphicon glyphicon-flash"></span>
        GotCms Admin
      </a>
    </div>

    <div class="collapse navbar-collapse" id="gotcms-main-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/admin" title="Dashboard">
            <span class="glyphicon glyphicon-dashboard"></span>Dashboard
          </a>
        </li>
        <li>
          <a href="#/content" title="Content">
            <span class="glyphicon glyphicon-edit"></span>Content
          </a>
        </li>
        <li>
          <a href="#/development" title="Development">
            <span class="glyphicon glyphicon-list-alt"></span>Development
          </a>
        </li>
        <li>
          <a href="#/module" title="Modules">
            <span class="glyphicon glyphicon-link"></span>Modules
          </a>
        </li>
        <li>
          <a href="#/statistics" title="Stats">
            <span class="glyphicon glyphicon-stats"></span>Stats
          </a>
        </li>
        <li>
          <a href="#/config" title="Configuration">
            <span class="glyphicon glyphicon-cog"></span>Configuration
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/config/user/logout" class="" title="Logout">
            <span class="glyphicon glyphicon-off"></span>Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
