$defaultFont: 'Open Sans';
$GlyphiconsFont: 'Glyphicons Halflings';
$gray60: #999999;
$gray76: #C2C2C2;
$gray80: #CCCCCC;
$gray94: #F0F0F0;
$white: #FFFFFF;
$orange: #F0AD4E;
$darkOrange: #855D10;
$lightOrange: #E8B10D;
